.navlist{
    list-style: none;
    padding-left: 2rem;
    font-size: 1.5rem;
    
} 


.navlist a {
    text-decoration: none;
    color: black;
}

.navlist li:not(:first-child){
    padding-top: 4rem;
}

.navlist li:first-child{
    padding-top: 20rem;
}