*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0
}

.nav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* gap: 2rem; */
    padding: 0 1rem;
    box-shadow: 0px 1px 7px 2px black;
}


.nav ul {
    margin: 0;
    list-style: none;
    display: flex;

}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    /* padding: 0 2rem; */
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem
    
}
.site-title{
    /* padding: 2rem 2rem; */
    font-size: 2rem;
}
#title{
    padding: 1.2rem 0;
}
.nav li.active {
    background-color: #555;
}

.nav li:hover{
    background-color: #777;
}

