*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container {
    background-color: rgb(67, 68, 68);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}


.content{
    height: 100vh;
    width: 98vw;
    overflow: hidden;
    background-color: #ffffff;
    /* box-shadow: 3px 2px 9px 5px black; */
}

.navi{
    grid-column: 1/2;
}